{% extends "main.html" %}
    {% block styles %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/chat.css') }}>
    {% endblock %}
    {% block content %}
        <a href="{{ url_for('logout') }}"><button type="button" id="logout-button">Logout</button></a>
            <div class="container">
                <div class="left">
                    <div class="top">
                        <input type="text" placeholder="Search" id="search"/>
                    </div>
                    </ul>
                    <ul class="people">
                        <ul class="aftersearch" id="aftersearch"></ul>
                        {% for user in users %}
                            <li class="person" data-chat="person{{ user.id }}">
                                <img src="{{ avatars.robohash(user.email_hash) }}" alt="" />
                                <span class="name">{{ user.username }}</span>
                                <span class="time">2:09 PM</span>
                                                            <br>
                                <span class="preview">I was wondering...</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right">
                    <div class="top"><span>To: <span class="name"></span></span></div>
                        {% for user in users %}
                            <div class="chat" data-chat="person{{ user.id }}">
                                <div class="conversation-start">
                                    <span>Today, 5:38 PM</span>
                                </div>
                                <div class="bubble you">
                                    Hello, can you hear me?
                                </div>
                                <div class="bubble you">
                                    I'm in California dreaming
                                </div>
                                <div class="bubble me">
                                    ... about who we used to be.
                                </div>
                                <div class="bubble me">
                                    Are you serious?
                                </div>
                                <div class="bubble you">
                                    When we were younger and free...
                                </div>
                                <div class="bubble you">
                                    I've forgotten how it felt before
                                </div>
                            </div>
                        {% endfor %}
                    <div class="write">
                        <form action="{{ url_for('chat') }}" method="get">
                            <input type="text"/>
                        </form>
                    </div>
                </div>
            </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script>
        "use strict";

        document.querySelector('.chat[data-chat=person1]').classList.add('active-chat');
        document.querySelector('.person[data-chat=person1]').classList.add('active');
        var friends = {
          list: document.querySelector('ul.people'),
          all: document.querySelectorAll('.left .person'),
          name: ''
        },
            chat = {
          container: document.querySelector('.container .right'),
          current: null,
          person: null,
          name: document.querySelector('.container .right .top .name')
        };
        friends.all.forEach(function (f) {
          f.addEventListener('mousedown', function () {
            f.classList.contains('active') || setAciveChat(f);
          });
        });

        function setAciveChat(f) {
          friends.list.querySelector('.active').classList.remove('active');
          f.classList.add('active');
          chat.current = chat.container.querySelector('.active-chat');
          chat.person = f.getAttribute('data-chat');
          chat.current.classList.remove('active-chat');
          chat.container.querySelector('[data-chat="' + chat.person + '"]').classList.add('active-chat');
          friends.name = f.querySelector('.name').innerText;
          chat.name.innerHTML = friends.name;
        }


        // Search users

        let searchInput = document.getElementById("search");
        let searchElements = document.getElementById("aftersearch");
        let searchInputTimeout = null;
        searchInput.addEventListener('input', function (e) {
            clearTimeout(searchInputTimeout);
            if (searchInput.value) {
                searchInputTimeout = setTimeout(function () {
                    searchElements.innerHTML = '<hr>';
                    console.log('Search users by:', searchInput.value);
                    let url = '/search';
                    function displaySearch(users) {
                        users.forEach(user => {
                            let userHtml =
                                `<li class=\"person\" data-chat=\"${user.id}\" onclick="startChat(this)">

                                     <img src=\"https://robohash.org/${user.email_hash}?size=200x200\" alt=\"\" />
                                     <span class=\"name\">${user.username}</span>
                                     <br>
                                     <span class=\"preview\">Click here to start conversation.</span>
                                 </li>`;
                            searchElements.innerHTML += userHtml;
                        });
                    }
                    fetch(url,{
                        method:'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ username: searchInput.value })
                    }).then(response => response.json())
                      .then(users => displaySearch(users));
                }, 1000);
            } else {
                searchElements.innerHTML = ''
            }
        })


        function startChat(user) {
            console.log(user)
            console.log(user.getAttribute('data-chat'))
        }
    </script>
    {% endblock %}