{% extends "main.html" %}
    {% block styles %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/chat.css') }}>
        <link rel="stylesheet" href={{ url_for('static', filename='css/animations.css') }}>
    {% endblock %}
    {% block content %}
        <a href="{{ url_for('logout') }}"><button type="button" id="logout-button">Logout</button></a>
            <div class="container">
                <div class="left">
                    <div class="top">
                        <input type="text" placeholder="Search" id="search"/>
                    </div>
                    </ul>
                    <ul class="people">
                        <ul class="aftersearch" id="aftersearch"></ul>
                        {% for chat in chats %}
                            {% set user = mapped.get(chat.id) %}
                            <li class="person" data-chat="{{ chat.id }}" onmousedown="setAciveChat(this)">
                                <img src="{{ avatars.robohash(user.email_hash) }}" alt="" />
                                <span class="name">{{ user.username }}</span>
                                <span class="time">{{ chat.dt_updated }}</span>
                                <br>
                                <span class="preview">
                                    {% if chat.last_message %}
                                        {{ chat.last_message }}
                                    {% endif %}
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="right">
                    <div class="top"><span>To: <span class="name"></span></span></div>
                    <input type="hidden" value="{{ session.get('_user_id') | int }}" id="user_id">
                        {% for chat in chats %}
                            {% set user = mapped.get(chat.id) %}
                            <div class="chat" data-chat="{{ chat.id }}" data-user="{{ user.id }}">
                                <div class="chat_wrapper">
                                    {% for message in chat.messages %}
                                        {% if message.user_id == session.get('_user_id') | int %}
                                            <div class="bubble me">
                                        {% else %}
                                            <div class="bubble you">
                                        {% endif %}
                                            {{ message.message }}
                                            </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    <div class="write">
                        <input type="text" id="send_message"/>
                    </div>
                </div>
            </div>
    {% endblock %}